@model IEnumerable<Client>

<table class="table" id="clientTable">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Index", new {sortOrder = ViewBag.SortOrder == "Surname" ? "Surname_desc" : "Surname" })" class="link-dark link-underline-opacity-0" data-sort="Surname">
                    @Html.DisplayNameFor(model => model.Surname)
                    @(ViewBag.SortOrder?.StartsWith("Surname") == true ? (ViewBag.SortOrder.EndsWith("_desc") ? " ▼" : " ▲") : "")
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortOrder == "Name" ? "Name_desc" : "Name" })" class="link-dark link-underline-opacity-0" data-sort="Name">
                    @Html.DisplayNameFor(model => model.Name)
                    @(ViewBag.SortOrder?.StartsWith("Name") == true ? (ViewBag.SortOrder.EndsWith("_desc") ? " ▼" : " ▲") : "")
                </a>
            </th>
            <th>@Html.DisplayNameFor(model => model.Cuit)</th>
            <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortOrder == "Type" ? "Type_desc" : "Type" })" class="link-dark link-underline-opacity-0" data-sort="ClientType.Name">
                    @Html.DisplayNameFor(model => model.ClientType)
                    @(ViewBag.SortOrder?.StartsWith("Type") == true ? (ViewBag.SortOrder.EndsWith("_desc") ? " ▼" : " ▲") : "")
                </a>
            </th>
            <th>@Html.DisplayNameFor(Model => Model.Account)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Surname</td>
                <td>@item.Name</td>
                <td>@Html.DisplayFor(modelItem => item.Cuit, "Cuit")</td>
                <td>@item.CompanyName</td>
                <td>@item.ClientType.Name</td>
                <td>@item.Account.ToString("C")</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" href="@Url.Action("Details", "Client", new { id = item.Id })"><i class="bi bi-info-circle me-1"></i> Detalle</a>
                    
                        @{
                            if(User.IsInRole("Administrador"))
                            {
                            
                                <a class="btn btn-dark" href="#" data-bs-toggle="modal" data-bs-target="#editClientModal" data-id="@item.Id"><i class="bi bi-pencil-square me-1"></i> Editar</a>
                                <button type="button" class="btn btn-danger" onclick="showDeleteConfirmation(@item.Id)"><i class="bi bi-x me-1"></i> Eliminar</button>
                                <form id="deleteForm-@item.Id" method="post" asp-action="Delete" asp-route-id="@item.Id" style="display:none;">
                                    @Html.AntiForgeryToken()
                                </form>
                            
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>