@model IEnumerable<CurrentAccounts>

<table class="table" id="currentAccountTable">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortOrder == "Client" ? "Client_desc" : "Client" })" class="link-dark link-underline-opacity-0 sort-link">
                    @Html.DisplayNameFor(model => model.Client.Name)
                    @(ViewBag.SortOrder?.StartsWith("Client") == true ? (ViewBag.SortOrder.EndsWith("_desc") ? " ▼" : " ▲") : "")
                </a>
            </th>
            <th>@Html.DisplayNameFor(model => model.Debt)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Client.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Debt)</td>
                <td>@Html.DisplayFor(modelItem => item.Date.ToShortDateString())</td>
                <td>
                    <a class="btn btn-dark" href="#" data-bs-toggle="modal" data-bs-target="#editCurrentAccountModal" data-id="@item.Id">Editar</a>
                    <button type="button" class="btn btn-danger" onclick="showDeleteConfirmation(@item.Id)">Eliminar</button>
                    <form id="deleteForm-@item.Id" method="post" asp-action="Delete" asp-route-id="@item.Id" style="display:none;">
    @Html.AntiForgeryToken()
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
