@model IEnumerable<Movements>

<table class="table" id="movementsTable">
    <thead>
        <tr>
            
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Debe</th>
            <th>Haber</th>
            @if (User.IsInRole("Administrador"))
            {
                <th class="no-print">Usuario</th>
                <th class="no-print">Acciones</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var movement in Model)
        {
            <tr>
                
                <td>@movement.Date.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                <td>@movement.Description</td>
                @if(movement.Amount > 0)
                {
                    <td>@movement.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                    <td></td>
                }
                else
                {
                    <td></td>
                    <td style="background-color: #bb2d3b; color:white;">@movement.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                }
                <td class="no-print">
                    <div class="btn-group no-print" role="group">
                    
                        @if (movement.Amount > 0)
                        {
                            <a type="button" class="btn btn-outline-secondary" id="printForm-@movement.Id" method="post" asp-action="ManualPrint" asp-route-id="@movement.Id"> <i class="bi bi-printer me-1"></i> Imprimir recibo</a>
                        }
                    </div>
                </td>
                @if (User.IsInRole("Administrador"))
                {
                    <td class="no-print">@movement.CreatedByUserId</td>
                    <td class="no-print">
                        <div class="btn-group no-print" role="group">
                        <button type="button" class="btn btn-danger" onclick="showDeleteConfirmation(@movement.Id, @ViewBag.CurrentAccountId)"><i class="bi bi-x me-1"></i> Eliminar</button>
                            <form id="deleteForm-@movement.Id" method="post" asp-action="Delete" asp-route-id="@movement.Id" style="display:none;">
                                @Html.AntiForgeryToken()
                            </form>
                        </div>
                    </td>
                }
            </tr>   
        }
    </tbody>
</table>