@model IEnumerable<Movements>

<table class="table" id="movementsTable">
    <thead>
        <tr>
            
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Debe</th>
            <th>Haber</th>
            @if (User.IsInRole("Administrador"))
            {
                <th class="no-print">Usuario</th>
                <th class="no-print">Acciones</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var movement in Model)
        {
            <tr>
                
                <td>@movement.Date.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                <td>@movement.Description</td>
                @if(movement.Amount > 0)
                {
                    <td>@movement.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                    <td></td>
                }
                else
                {
                    <td></td>
                    <td style="background-color: red; color:white;">@movement.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                }
                @if (User.IsInRole("Administrador"))
                {
                    <td class="no-print">@movement.CreatedByUserId</td>
                    <td class="no-print">
                
                        <button type="button" class="btn btn-danger" onclick="showDeleteConfirmation(@movement.Id)">Eliminar</button>
                        <form id="deleteForm-@movement.Id" method="post" asp-action="Delete" asp-route-id="@movement.Id" style="display:none;">
                            @Html.AntiForgeryToken()
                        </form>
                
                    </td>
                }
            </tr>   
        }
    </tbody>
</table>