@model IEnumerable<Movements>

<table class="table" id="movementsTable">
    <thead>
        <tr>
            <th></th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movement in Model)
        {
            <tr>
                @{
                    if(movement.Debt)
                    {
                        <td>I</td>
                    }
                    else
                    {
                        <td>E</td>
                    }
                }
                <td>@movement.Amount.ToString("C")</td>
                <td>@movement.Date.ToShortDateString()</td>
                <td>@movement.Description</td>
                <td>@movement.CreatedByUserId</td>
                <td>
                <button type="button" class="btn btn-danger" onclick="showDeleteConfirmation(@movement.Id)">Eliminar</button>
                <form id="deleteForm-@movement.Id" method="post" asp-action="Delete" asp-route-id="@movement.Id" style="display:none;">
                    @Html.AntiForgeryToken()
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>